<md-content ng-cloak flex layout-padding>
    <md-list>
        <md-subheader class="md-no-sticky">Particle</md-subheader>
        <md-list-item>
            <md-input-container flex>
                <label>Access Token</label>
                <input type="text" ng-model="main.accountInfo.particleAccessToken" />
            </md-input-container>
            <md-button class="md-fab md-mini md-ink-ripple"
                       ng-class="devices.particleAccessTokenValid ? 'md-accent':'md-warn'"
                       ng-disabled="!main.accountInfo.particleAccessToken"
                       aria-label="Refresh Devices"
                       ng-click="devices.getDevices(main.accountInfo.particleAccessToken)">
                <md-icon>{{ main.particleAccessTokenValid ? 'done' : 'clear' }}</md-icon>
            </md-button>
        </md-list-item>
        <md-list-item class="md-2-line" ng-repeat="particleDevice in devices.particleDeviceList">
            <md-icon>{{ particleDevice.connected ? 'cloud_on' : 'cloud_off'}}</md-icon>
            <div class="md-list-item-text" >
                <h3>{{particleDevice.name}}</h3>
                <p>{{particleDevice.id}}</p>
            </div>
            <md-switch class="md-secondary" aria-label="enable"
                       ng-model="main.accountInfo.particles[particleDevice.name].enabled"></md-switch>
        </md-list-item>
    </md-list>
</md-content>
