<md-menu md-position-mode="target-right target" ng-show="vm.accountInfo.email">
    <md-button aria-label="Open user menu"
               class="md-icon-button"
               ng-click="$mdOpenMenu($event)">
        <md-icon class="material-icons"
                 ng-hide="vm.accountInfo.photoURL">account_circle</md-icon>
        <img class="piplant-user-avatar"
             ng-show="vm.accountInfo.photoURL"
             ng-src="{{ vm.accountInfo.photoURL }}">
    </md-button>
    <md-menu-content width="4" >
        <md-menu-item ng-show="vm.accountInfo">
            <div layout="row" flex>
                <div layout-padding>
                    <img class="piplant-user-avatar"
                         ng-show="vm.accountInfo.photoURL"
                         ng-src="{{ vm.accountInfo.photoURL }}">
                </div>
                <div layout="column">
                    <span class="md-subhead" ng-bind="vm.accountInfo.displayName"></span>
                    <span class="md-caption" ng-bind="vm.accountInfo.email"></span>
                </div>
            </div>
        </md-menu-item>
        <md-menu-divider ng-show="vm.accountInfo"></md-menu-divider>
        <md-menu-item ng-show="vm.accountInfo">
            <md-button ng-click="vm.signOut()">
                <div layout="row" flex>
                    <md-icon ng-style="{color: '#A00'}"
                             aria-label="Sign out warning"
                             class="material-icons step"
                             ng-class="3">
                        remove_circle
                    </md-icon>
                    <span flex>Sign out</span>
                </div>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>