<div class="mdl-grid" >
  <div class="mdl-cell mdl-cell--12-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Content</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div ui-view></div>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Location Debug</h2>
      </div>
      <div class="mdl-card__supporting-text" ng-controller="MainController" ng-cloak>
        <div><input type="text" ng-model="data.text"/>
          <!-- all changes from our Firebase database magically appear here! -->
          <h1>You said: {{ data.text }}</h1></div>
        <div>

          <pre>data = {{data | json}}</pre>
          <pre>tokens = {{tokens | json}}</pre>
          <pre>$location.path() = {{$location.path()}}</pre>
          <pre>$location.hash() = {{$location.hash()}}</pre>
          <pre>$location.search() = {{$location.search()}}</pre>
          <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
          <pre>$route.current.params = {{$route.current.params}}</pre>
          <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
          <pre>$routeParams = {{$routeParams}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
