<md-switch  aria-label="Particle Account"
            ng-model="vm.authorized"
            md-no-ink="true">Particle Account</md-switch>
<div layout="row" ng-show="vm.authorized">
    <md-input-container flex>
        <label>Particle Access Token</label>
        <input type="text" ng-model="accountInfo.particleAccessToken"  />
    </md-input-container>
    <md-button class="md-fab md-mini"
               ng-disabled="!vm.accessToken"
               aria-label="Test access token">
        <md-icon>refresh</md-icon>
    </md-button>
</div>
